# Copyright (c) 2004-2016 Parallels International GmbH.
# All rights reserved.
# http://www.parallels.com

[Unit]
Description=Parallels Tools Daemon
DefaultDependencies=no
Before=cloud-init-local.service
ConditionVirtualization=parallels

[Service]
ExecStart=/usr/bin/prltoolsd -f
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
