# Copyright (c) 2004-2016 Parallels International GmbH.
# All rights reserved.
# http://www.parallels.com

[Unit]
Description=Parallels Tools Daemon

[Service]
ExecStart=/usr/bin/prltoolsd -f

[Install]
WantedBy=multi-user.target
